@import 'common/utils';
@import 'common/component';
@import 'input';

.jb-check{
    .jb-input();

    cursor: pointer;
    padding: 0;
    text-align: center;

    &-icon{
        text-align: center;
        width: @com-square;
    }

    &:active{
        .box-shadow(0 .1em .4em #CCC inset, @com-box-shadow-focus) !important; /* To overwrite input colored action shadow */

        background: #F8F8F8 !important;
    }

    &:disabled{
        .box-shadow(none);

        background: #FFF;
        cursor: default;
    }

    &::-moz-focus-inner{
        border: 0;
    }
}
